html, body{

}

/* Navigation */

nav {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

  nav a {
    color: #A9A9A9;
    text-decoration: none;
    font-size: 14px;
  }
    nav a:hover, nav a:active{
      text-decoration: none;
      color: #377BB5;
    }

  nav ul {
    margin: 0;
    padding: 15px 15px 0;
  }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

  nav hr {
      border-width: 2px;
      margin-top: 15px;
    }


/* Content */

div.header {
  font-size: 24px;
  margin-bottom: 20px;
}

div.subhead{
  font-size: 18px;
  margin-bottom: 15px;

}

div.subtext {
  font-size: 12px;

}

div.within_dash {
  margin: 50px 50px 50px 150px;
}
@media (min-width: 1200px) {
    div.within_dash {
        margin: 50px 50px 50px 150px;
    }
}

/* Forms */

#signIn {
    display:none;
}

#newGroup {
  display: none;
}

div a:hover, div a:active {
  cursor:pointer;
}

/* Side Bar */

.icon-bar {
    position:fixed;
    width: 100px;
    height: 100%;
    background-color: #555;
    z-index: 10;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
}

.icon-bar a:hover, .icon-bar a:active  {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.icon-bar a:visited, .icon-bar a:focus {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.hello {
    background-color: grey;
    display: block;
    text-align: center;
    padding: 16px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

img.icons {
  width: 40px;
  height: 40px;
  margin: 5px 0 10px;
}

/* Group Boxes */
.box {
  height: 200px;
  width: 95%;
  align-items: center;
  border: solid;
  border-width: .5px;
  border-radius: 10px;
  background: white;
  margin-bottom: 20px;
}
  .box hr {
    border-width: 2px;
    width: 99.5%;
  }

.photo {
  text-align: center;
}
  .photo img {
    margin-top: 10px;
    height: 100px;
  }

.text{
  margin: 10px;
  font-weight: bold;
  text-align: center;
}
  .text a{
    color: black;
  }
