<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="../../public/css/style.css" rel="stylesheet">
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="../../public/js/scripts.js"></script>
</head>

<body>
  <div class="icon-bar">
    <div class="hello">Hello, Helen!</div>
    <a href="dashboard.html">Home</a>
    <a href="groups.html">Groups</a>
    <a href="settings.html"><img class="icons" src="../../public/photos/settings.png">Settings</a>
    <a href="#"></i></a>
  </div>

</body>
</html>
