<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="../../public/css/style.css" rel="stylesheet">
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="../../public/js/scripts.js"></script>
</head>

<body>
  <nav>
    <ul>
        <li style="text-align:left;"><a href="index.html">APP NAME</a></li>
        <li style="float:right;"><a href="login.html">Sign In / Sign up</a></li>
    </ul>
    <hr>
  </nav>

</body>
</html>
