<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Settings </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="../../public/css/style.css" rel="stylesheet">
  <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <script src="../../public/js/scripts.js"></script>
</head>

<body>
  <div class="icon-bar">
      <div class="hello"><img class="icons" src="../../public/photos/football.png">Hello, Helen!</div>
      <a href="dashboard.html"><img class="icons" src="../../public/photos/home.png"><br>Home</a>
      <a href="groups.html"><img class="icons" src="../../public/photos/groups.png"><br>Groups</a>
      <a href="settings.html"><img class="icons" src="../../public/photos/settings.png"><br>Settings</a>
      <a href="post.html"><img class="icons" src="../../public/photos/tally.png"><br>Active Today</a>
  </div>


</body>
</html>
