<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="styles.css" rel="stylesheet">
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>

<body>
  <nav>

  </nav>

  <form name = "signUpForm"
        action = "/auth/signUp"
        method = "post">
    <div class="input-group">
      <input type="text" name="firstName" placeholder="First name">
      <input type="text" name="lastName" placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">youremail@example.com</label>
      <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>

</body>
</html>
