<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="style.css" rel="stylesheet">
  <link href="bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>

<body>
  <nav>
    <ul>
        <li style="text-align:left;"><a href="index.html">APP NAME</a></li>
        <li style="float:right;"><a href="sign_up.html">Sign In / Sign up</a></li>
    </ul>
    <hr>
  </nav>

  <div class="container">
    <form name = "signUpForm"
          action = "/auth/signUp"
          method = "post">
      <div class="form-group">
        <label for="userName">Username</label>
        <input name="userName" type="text" class="form-control" required="true" placeholder="User Name">
      </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" required="true" id="exampleInputPassword1" placeholder="Password">
        </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
  </div>

</body>
</html>
