html, body{

}

#signIn {
  display : none;
}

/* Navigation */

nav {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'Source Sans Pro';
}

  nav a {
    color: #A9A9A9;
    text-decoration: none;
    font-size: 16px;
  }
    nav a:hover, nav a:active{
      text-decoration: none;
      color: #377BB5;
    }

  nav ul {
    margin: 0;
    padding: 15px 15px 0;
  }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

  nav hr {
      height: 3px;
      margin-top: 15px;
    }


/* Content */

div.header {
  font-size: 24px;
  margin-bottom: 15px;
}

div.subtext {
  font-size: 12px;

}

div.form {
  padding: 0 50px;
}
