html, body{

}

/* Navigation */

nav {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: 'Source Sans Pro';
}

  nav a {
    color: #A9A9A9;
    text-decoration: none;
    font-size: 16px;
  }
    nav a:hover, nav a:active{
      text-decoration: none;
      color: #377BB5;
    }

  nav ul {
    margin: 0;
    padding: 15px 15px 0;
  }
    nav ul li {
      display: inline-block;
      margin-right: 10px;
      margin-left: 10px;
    }

  nav hr {
      height: 3px;
      margin-top: 15px;
    }


/* Content */

div.home {
  margin-top: 45px;
}
  div.home img {
    width: 100%;
  }

div.content{
  text-align: left;
  margin-bottom: 20px;
}
  div.content p {
    margin: 20px 15px 5px;
    font-family: 'Source Sans Pro';
    color: #FF9491;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
  }
  div.content p.about {
    line-height: 32px;
  }

div.photo {
    text-align: center;
    padding: 0px 15px 30px;
}
  div.photo img {
      width: 100%;
  }

div.form {
  padding: 0 50px;
}
